@model OES.Model.Examination.Exam

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Registration.SemesterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registration.SemesterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfHighQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfHighQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HighQuestionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HighQuestionScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMediumQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMediumQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MediumQuestionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MediumQuestionScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLowQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLowQuestion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LowQuestionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LowQuestionScore)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
